.all-contents {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 100px;
}

.item-image {
    width: 100%;
    height: auto;
    margin-top: 70px;
    border: 1px solid black;
    border-radius: 4px;
}

.image-box {
    flex: 0 0 45%;
}

@media (min-width: 1400px) and (max-width: 1540px) {

}

.right-content {
    flex: 1 1 40%;
    max-width: 40%;
}

.item-name {
    font-size: 48px;
    margin-bottom: 0;
}

.brand-name {
    font-size: 18px;
    margin-top: 0;
}

.price {
    font-size: 45px;
    margin: 0;
}

.price-text {
    font-size: 30px;
}

.purchase-btn {
    margin: 24px auto 24px;
    width: 100%;
    max-width: 570px;
    background-color: #fc5e5e;
    border: none;
    color: white;
    border-radius: 4px;
    height: 56px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.purchase-btn_disabled {
    margin: 24px auto 24px;
    width: 100%;
    max-width: 570px;
    background-color: #fc5e5e;
    border: none;
    color: white;
    border-radius: 4px;
    height: 56px;
    font-size: 30px;
    font-weight: 600;
}

.item-description {
    font-size: 36px;
    margin-top: 12px;
}

.description {
    font-size: 24px;
}

.item-information {
    font-size: 36px;
    margin-bottom: 10px;
}

.category {
    font-size: 24px;
}

.item-conditions {
    display: flex;
    align-items: center;
    gap: 100px;
}

.item-condition_text{
    font-size: 24px;
}

.item-condition {
    font-size: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.categories {
    display: inline-flexbox;
}

.category {
    display: inline-block;
    margin: 0 40px 0 0;
}

.category-label {
    display: inline-block;
    background-color: rgb(220, 220, 220);
    border-radius: 9999px; /* pill型 */
    padding: 4px 16px;
    margin: 14px 0 16px 14px;
    font-size: 14px;
    cursor: pointer;
    font-size: 18px;
}

.good-yes {
    width: 52px;
    border: none;
    margin: 10px 50px 4px;
    background-color: white;
    cursor: pointer;
    color: #fc5e5e;
}

.good-no {
    width: 52px;
    border: none;
    margin: 10px 50px 4px;
    background-color: white;
    cursor: pointer;
}

.good-non {
    width: 52px;
    border: none;
    margin: 10px 50px 4px;
    background-color: white;
}

.comment-icon {
    width: 40px;
    margin: 11px 0 4px;
}

.logos {
    display: flex;
    margin-top: 5px;
}

.good-group {
    display: block;
    text-align: center;
}

.comment-group2 {
    display: block;
    text-align: center;
}

.number {
    font-weight: bold;
    margin: 0;
}

.product-comment {
    font-size: 24px;
    margin-bottom: 4px;
}

.comment {
    width: 100%;
    max-width: 570px;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 4px;
    font-size: 20px;
}

.comment-btn {
    margin: 24px auto 24px;
    width: 100%;
    max-width: 570px;
    background-color: #fc5e5e;
    border: none;
    color: white;
    border-radius: 4px;
    height: 56px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.comment-btn_disabled {
    margin: 24px auto 24px;
    width: 100%;
    max-width: 570px;
    background-color: #fc5e5e;
    border: none;
    color: white;
    border-radius: 4px;
    height: 56px;
    font-size: 25px;
    font-weight: 600;
}

.comment-form__error-message {
    color: #FF9494;
}

.comment-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover; /* ← これが重要 */
    border: 1px solid rgb(162, 162, 162);
}

.comment-group {
    display: flex;
    gap: 20px;
}

.comment-name {
    font-size: 24px;
    font-weight: bold;
}

.comment-comment {
    width: 100%;
    max-width: 570px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 20px 15px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 46px;
}

.comment-heading {
    font-size: 36px;
    color: rgb(109, 109, 109);
    margin-bottom: 24px;
}