.address-form__heading {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

.address-form {
    background-color: #ffffff;
}

.address-form__inner {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.address-form__form {
    padding: 64px 96px;
    width: 40vw;
    background-color: #FDFEFE;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .address-form__form {
    width: 58vw;
    }
}

.address-form__group {
    margin-bottom: 60px;
}

.address-form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 23px;
    font-weight: bold;
}

.address-form__input {
    display: block;
    padding: 8px 16px;
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 25px;
}

.address-form__error-message {
    color: #FF9494;
}

.address-form__btn {
    margin: 60px auto 24px;
    width: 100%;
    background-color: #fc5e5e;
    border: none;
    color: white;
    border-radius: 6px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

